.grid-container {/* dividing the page to differnent parts of a grid  */
  display: grid;
    display: grid;
    grid-gap: 10px;
    padding: 30px;
    
    grid-template-areas:
   'header header header header header'
   'nav nav nav nav nav'
   'form form form image image'
   'footer footer footer footer footer';
}
*{ /* assigning a font family and box size to the whole page  */
  box-sizing: border-box;
  font-family:'Amatic SC'
    }
    .header {  /* Style of the header   */
      grid-area:header; 
        grid-area:header; 
        text-align:center;
      font-weight: bold;
       font-size: 90px; 
      }
      .text { /* Style of the header name and content    */
        color: rgb(5, 5, 5);
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
      }
    
    .navigation { /* Style of the navigation bar   */
        text-align:center; 
        grid-area:nav; 
        background-color:rgb(124, 84, 98, 0.8);  
     font-size: 30px; 
     font-weight: bold; 
    }

   body { /* Style of the body of the page   */
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    }

 .details { /* Style of the form in general    */
  grid-area: form;
  width: 100%;
  margin: auto;
  max-width: 100%;
  position: relative;
}
.fieldSet{ /* Style of the fieldset of the form- (the container of the form)   */
  background: rgba(124, 84, 98, 0.8);
  border-radius: 5px;
      box-shadow: 0 15px 4px rgba(0,0,0,0.06);
      border: 3px solid rgb(10, 10, 10);

}
    input,
    label, textarea, select {/* Style of the labels, input and textarea of the form    */
        margin: .4rem 0;
        border-radius: 5px;
        box-shadow: 0 15px 4px rgba(0,0,0,0.06);
        width: 400px;
        height: 30px;
        color: black;
        font-size: medium;
        font-weight: bold;
        display: block;
    }
    .group .label { /* Style of the labels, input and textarea of the form    */
      color: rgb(19, 3, 3);
      font-size: 25px;
      font-weight: bold;
    }
    .comments { /* Style of the text area   */
      color: rgb(19, 3, 3);
      font-size: 25px;
      font-weight: bold;
      box-shadow: 0 15px 4px rgba(0,0,0,0.06);

    }

    .details .tab { /* Style the inside of the form- header and padding  */
      font-size: 22px;
      margin-right: 15px;
      padding-bottom: 5px;
      margin: 0 15px 10px 0;
      display: inline-block;
      border-bottom: 2px solid transparent;
    }

    .group { /* the spacing between the label and input  */
      margin-bottom: 20px;
    }

    input.invalid { /* Style of the input if not valid    */
      background-color: #ca2c2c;
    }

    .group .button { /* style the button of the send : */
      border: none;
      border-radius: 25px;
      background: rgba(163, 154, 154, 0.925);
      box-shadow: 0 15px 4px rgba(0,0,0,0.06);
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 27px;
      font-weight: bold;
     }
     .hr { /* Style of the line between the form and the end of the fieldset    */
      height: 3px;
      margin: 60px 0 50px 0;
      background: rgba(214, 210, 210, 0.5);
      
    }

       .images{ /* Style of the div of the contact info    */
         grid-area:image;
         }

    .footer {  /* Style of the footer    */
    text-align:left; 
    grid-area:footer; 
    background-color:rgb(124, 84, 98, 0.8);
    margin-top: 160px;
  }
    .contact{ /* Style of the text in the footer   */
      text-align:center; 
      font-size: 20px;
      
    }
       
      .mycookie{ /* Style of the cookie image in right  */
        margin-top: 93px;
        border-radius: 15px;
        border: 3px solid rgb(10, 10, 10);
        }

        .socialmedia{ /* style the social media icons */
           margin-left: 110px;
           margin-top: 5px;
        }


      

       

        

        
    
 


  